html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.content {
    background-color: #8499b1e5;
    padding: 20px;
    border-radius: 15px 15px 15px 15px;
}

li, p, h1, h5, td, th {
    color: #493B2A;
}

a {
    color: #593F62;
}

td, th {
    font-size: medium;
}
